<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yhms.picture">

    <application android:theme="@style/AppTheme">

        <provider
            android:name="com.yhms.picture.PictureFileProvider"
            android:authorities="${applicationId}.PictureFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".PictureSelectorActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".PicturePreviewActivity" />
        <activity
            android:name=".PictureVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor" />
        <activity android:name=".PictureExternalPreviewActivity" />
        <activity android:name="com.yhms.crop.UCropActivity" />
        <activity android:name="com.yhms.crop.PictureMultiCuttingActivity" />
        <activity android:name=".PicturePlayAudioActivity" />


    </application>
</manifest>
